{% extends 'base.html' %}

{% block content %}
<html>
    <head>
        <title>Pizzas</title>
        <!-- Add link to css here --> 
        <!-- Add script language -->
    </head>
    <body>
        <h1>Pizzas</h1>
        <div id="browse">
            <!-- Can include buttons here above the table -->
            <!-- <p> <a href="#">Add</a> </p> -->
            <p></p>
        
            <table border="1" cellpadding="5">
                <tr>
                    <th>pizza_id</th>
                    <th>pizza_type</th>
                    <th>pizza_price</th>
                </tr>
                <tr>
                    <td align="center" >1</td>
                    <td align="center">Meat Lovers</td>
                    <td align="center" >26.12</td>
                </tr>
                <tr>
                    <td align="center" >2</td>
                    <td align="center">Cheese</td>
                    <td align="center" >20.00</td>
                </tr>
                <tr>
                    <td align="center" >3</td>
                    <td align="center">Pepperoni</td>
                    <td align="center" >23.22</td>
                </tr>
                <tr>
                    <td align="center" >4</td>
                    <td align="center">Vegetarian</td>
                    <td align="center" >25.22</td>
                </tr>
            </table>
            <p>&nbsp;</p> <!-- just some space for looks -->
        </div> <!-- browse ends -->
        <div id="insert">
            <form method="" id="">
            <legend><strong>Add Pizza</strong></legend>
            <fieldset class="field">
                <label> pizza_type </label> <input type="text" name="ptype">
                <label> pizza_price </label> <input type="text" name="pprice">
            </fieldset>
            <input class="btn" type="submit" id="addPizza" value="Add Pizza">
            <input class="btn" type="button" value="Cancel"> <!-- On click go back to browse -->
            </form>
        </div> <!-- insert ends -->
        <div id="update">
            <form method="" id="">
            <legend><strong>Update Pizza</strong></legend>
            <fieldset class="field">
                <label> pizza_id </label> <select name="pid">
                    <option value="0">&nbsp;</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <label> pizza_type </label> <input type="text" name="ptype">
                <label> pizza_price </label> <input type="text" name="pprice">
            </fieldset>
            <input class="btn" type="submit" id="updatePizza" value="Update Pizza">
            <input class="btn" type="button" value="Cancel"> <!-- On click go back to browse -->
            </form>
        </div>
    </body>
</html>
{% endblock %}